  <%
    git_dir = Setting.plugin_redmine_bitbucketgit_hook[:bitbucketgit_dir]
    git_dir = '/bitbucket_git_repositories' if git_dir.blank?
  %>

<p>
  <%= content_tag(:label, l(:label_git_dir)+':') %>
  <%= text_field_tag("settings[bitbucketgit_dir]", git_dir, :size=>26) %>
</p>
